.container {
    width: 350px;
    height: 200px;
    margin: auto;
    background-color: rgb(159, 189, 216);
    border: 1px solid black;
}

.btnc {
    width: 100%;
    display: flex;
    justify-content: end;
}

.btnx {
    background-color: red;
    color: aliceblue;
    border: none;
    margin: 10px;
    width: 30px;
    height: 30px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}